<!DOCTYPE>
<html>
    <head>
        <title>Create to do list</title>
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/main.js"></script>
    </head>
    <body>
        <div class="example">
            <header><h2>Create a to-do-list</h2></header>
            <ul>
                <li><a href="create.html">Create List</a></li>
                <li><a href="view.html">View to do lists</a></li>
                <li><a href="profile.html">User profiles</a></li>
                <li><a href="login.html">LOG OUT</a></li>
            </ul>
            <div class="create-todo">	
            <img class="create-pic" src="../images/to do list9.jpg" alt="Notebook">
                <div class="content">
                        <div id="myDIV" class="header">
                                <h2>My To Do List</h2>
                                <input type="text" id="myInput" placeholder="Title...">
                                <span onclick="newElement()" class="addBtn">Add</span>
                             
                              
                              <ul id="myUL">
                                <span class="Delete">Delete</span>
                                <li>Hit the gym</li><br>
                                <span class="Delete">Delete</span>
                                <li class="checked">Pay bills</li><br>
                                <span class="Delete">Delete</span>
                                <li>Meet George</li><br>
                                <span class="Delete">Delete</span>
                                <li>Buy eggs</li><br>
                                <span class="Delete">Delete</span>
                                <li>Read a book</li><br>
                                <span class="Delete">Delete</span>
                                <li>Organize office</li>
                                
                              </ul>
                            </div>
                </div>
              </div>

            
            <footer>Copyright &copy; To-Do-List</footer> . 
        </div>
    </body>
</html>