<!DOCTYPE>
<html>
    <head>
        <title>login |To do list</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <div class="example">
        <center>
        <header>WELCOME To to-do-list Helper
        </header>
        <ul>
                <li><a href="signup.html">SIGN UP</a></li>
          
            </ul>
                <div class="container">
                
                    <form >
                    
                    <div class ="row">
                        <div class = "col-25">
                        <label for="Uname"> Username</label> 
                        </div>
                        <div class="col-75">
                        <input type="text" id="Uname" name="Username" 
                        placeholder ="your username" required autofocus>
                        </div>	
                    </div>	
                    
                    <div class ="row">
                        <div class = "col-25">
                        <label for="Pword"> Password</label> 
                        </div>
                        <div class="col-75">
                        <input type="password" id="Pword" name="Password" 
                        placeholder ="your password" required autofocus>
                        </div>	
                        </div>
                        <br><br><div class="row">
                        <button type="Submit">Log in</button>
                        
                        </div>
                    <br><br><br><a href="url">forgot password</a>
                    <br><br><br><a href="index.html">login</a>			
                
                    </form>
                    <br><br><br><footer>Copyright &copy; to-do-list</footer>
                </div>	
        </center>
    </div>
    </body>
</html>