<html>
 <head>
     <title>To-Do-List</title>
     <link rel="stylesheet" href="../css/main.css">
 </head>
 <body>
        <div class="example">
                <header><h2>View profiles and lists</h2></header>
                <ul>
                    <li><a href="create.html">Create List</a></li>
                    <li><a href="view.html">View to do lists</a></li>
                    <li><a href="profile.html">User profiles</a></li>
                    <li><a href="login.html">LOG OUT</a></li>
                </ul>
               
                
                <footer>Copyright &copy; To-Do-List</footer> . 
            </div>

 </body>
</html>