<!DOCTYPE>
<html>
    <head>
        <title>View to do list</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <div class="example">
            <header><h2>View lists created</h2></header>
            <ul>
                <li><a href="create.html">Create List</a></li>
                <li><a href="profile.html">User profiles</a></li>
                <li><a href="login.html">LOG OUT</a></li>
            </ul>
            <div class="create-todo">	
            <img class="create-pic" src="../images/to do list9.jpg" alt="Notebook">
                <div class="content">
                        <h2>My To Do List</h2>
                        <div id="myDIV" class="header">
                            <div class="top">
                                <div class="left">
                               
                              
                              <h4>List 1</h4>
                              <ul id="myUL">
                                <li>Hit the gym</li><br>
                                <li class="checked">Pay bills</li><br>
                                <li>Meet George</li><br>
                                <li>Buy eggs</li><br>
                                <li>Read a book</li><br>
                                <li>Organize office</li>
                              </ul>
                                  
                              <h4>List 2</h4>
                              <ul id="myUL">
                                    <li>Hit the gym</li><br>
                                    <li class="checked">Pay bills</li><br>
                                    <li>Meet George</li><br>
                                    <li>Buy eggs</li><br>
                                    <li>Read a book</li><br>
                                    <li>Organize office</li>
                                  </ul>
                            </div>
                            <div class="right">
                                  <h4>List 3</h4>
                                  <ul id="myUL">
                                        <li>Hit the gym</li><br>
                                        <li class="checked">Pay bills</li><br>
                                        <li>Meet George</li><br>
                                        <li>Buy eggs</li><br>
                                        <li>Read a book</li><br>
                                        <li>Organize office</li>
                                      </ul>
                                      <h4>List 4</h4>
                                      <ul id="myUL">
                                            <li>Hit the gym</li><br>
                                            <li class="checked">Pay bills</li><br>
                                            <li>Meet George</li><br>
                                            <li>Buy eggs</li><br>
                                            <li>Read a book</li><br>
                                            <li>Organize office</li>
                                          </ul>
                            </div>
                            </div>
                </div>
                
              </div>

            
            <footer>Copyright &copy; To-Do-List</footer> . 
        </div>
    </body>
</html>